#!/bin/bash


thisBranchName=$(git rev-parse --abbrev-ref HEAD);
for branch in $(git branch --color=never --contains $1 | sed -e 's/^..//'); do
  echo "branch $branch"
  if [ "$(git show-ref -s $branch )" == $1 ] && [ "$branch" != "$thisBranchName" ]; then
      parentBranchName=$branch;       break;
  fi;
done
echo "$thisBranchName,$parentBranchName"